body {
  background-color: #F6F7F9;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: #00CCCC;
  margin-top: 0;
}

h6 {
padding-top: 15px;
}

h3 {
  color: #00CCCC;
}

a {
  color: black;
}

img.current {
  height: 600px;
  width: 600px;
  margin:auto;
}

.board {
  height:500px;
  width:500px;
  margin: auto;
}

.results{
  display:none;
}

.goog h5, p {
  color: #424242
}

.underline {
  border-bottom: 2px solid #00CCCC;
  width:30%;
  margin:auto;
  padding: 15px;
  color: #424242
}

.card {
  width:30%;
  float:left;
  height: 800px;
  margin:1%;
}

.bottom-border {
  border-bottom: 2px solid #424242;
  width:30%;
  margin:auto;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:7%;
}
